.game-view_ {
    width: 100%;

    .game-view-container_ {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .game-view-left-section_ {
            width: 60%;

            .game-view-table_ {
                width: 100%;
            margin-top: 10px;

                .game-view-table-digits-container_ {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    .table-digit-button {
                        width: 45px;
                        height: 45px;
                        color: #ffffff;
                        border-radius: 10px;
                        font-size: 13px;
                        font-weight: bold;
                        margin: 4px;
                        transition: transform 0.5s ease-in-out;
                        cursor: pointer;

                        &:nth-of-type(odd) {
                            background-color: #04113B;
                            border: 1px solid #162D99;
                        }

                        &:nth-of-type(even) {
                            background-color: #221455;
                            border: 1px solid #894BC3;
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }

            }
        }

        .game-view-right-section_ {
            width: 40%;

            .betslip-box_ {
                width: 98%;
                padding: 15px 0px;
                background-color: #070B17;

                .betslip-title_ {
                    text-align: center;
                    font-size: 17px;
                    color: #ffffff;
                    text-transform: capitalize;
                }

                .betslip-input-group_ {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .betslip-rupee-icon {
                        font-size: 17px;
                        color: #ffffff;
                    }

                    .betlips-input-amount_ {
                        font-size: 17px;
                        font-weight: bold;
                        color: #ffffff;
                        margin-left: 10px;
                    }
                }

                .betslip-actions_ {
                    width: 90%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;

                    .betslip-button_ {
                        width: 100%;
                        height: 40px;
                        background: linear-gradient(#324FBF, #1F2D74);
                        color: #ffffff;
                        font-size: 17px;
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        margin: auto;
                        border: 1px solid #2E469B;
                    }
                }

            }

           
        }
    }
}