/* select coin container ------------------------ */
.select-coin-container {
    width: 100%;

    .select-coin-wrapper {
        width: 100%;
        margin-top: 10px;

        .coins {
            width: 40%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .coin {
                width: 55px;
                height: 55px;
                position: relative;
                .coin-img {
                    width: 55px;
                    height: 55px;
                    cursor: pointer;
                    transform: scale(0.9);
                    transition: 0.05s ease all;
                    object-fit: fill;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .coin-value_{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 12px;
                }
            }
        }
    }

}




@media screen and (max-width:768px) {

    /* select coin container ------------------------ */
    .select-coin-container {
        width: 100%;

        .select-coin-wrapper {
            width: 100%;
           
            .coins {
                width: 60%;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                .coin {
                    .coin-img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

    }


}